asgiref
astroid
certifi
colorama
dill
distlib
dj-database-url
Django
django-cors-headers
django-environ
django-filter
djangorestframework
djangorestframework-simplejwt
filelock
flake8
isort
mccabe
pillow
pipenv
platformdirs
pycodestyle
pyflakes
PyJWT
pylint
setuptools
sqlparse
tomlkit
typing_extensions
tzdata
virtualenv
